{% load smartsearch_util %}
<p class="pagination search-pagination">
  Showing results: <strong>{{ meta.start_index }} - {{ meta.end_index }}</strong> of {{ meta.total_results|display_greater_than:100 }}
  <span class="pagination-links">
  {% if meta.previous_page %}
    <a href="{% start_url request.get_full_path 'page' meta.previous_page  %}">Previous</a>
    {% if meta.next_page %} | {% endif %}
  {% endif %}
  {% if meta.next_page %}
    <a href="{% start_url request.get_full_path 'page' meta.next_page  %}">Next</a>
  {% endif %}
  </span>
</p>
