{% extends "base.html" %}
{% load smartsearch_util %}

{% block content %}
  <h1>{% block title %}Search: {{ query }}{% endblock %}</h1>
  <form method="get" action="">
    {{ form.q.errors }}{{ form.start.errors }}
   <p>{{ form.q }} <input type="submit" value="Search"></p>
  </form>

  <h2>Search Results</h2>
  {% if meta.total_results %}
    <p class="pagination">
      Showing results: <strong>{{ meta.start_index }} - {{ meta.end_index }}</strong> of {{ meta.total_results|display_greater_than:100 }}
      {% if meta.previous_page %}
        <a href="{% start_url request.get_full_path 'page' meta.previous_page  %}">Previous</a>
        {% if meta.next_page %} | {% endif %}
      {% endif %}
      {% if meta.next_page %}
        <a href="{% start_url request.get_full_path 'page' meta.next_page  %}">Next</a>
      {% endif %}
    </p>
    <div id="search-results">
    {% for result in results %}
      {% include result_include %}
    {% endfor %}
    </div>
  {% else %}
    <p>No results found</p>
  {% endif %}
{% endblock %}
