{% extends "base.html" %}
{% load smartsearch_util %}

{% block title %}Search: {{ query }}{% endblock %}

{% block head %}{{ block.super }}
<script type="text/javascript">
function loadResults(target, wrapper) {
    var results = wrapper.find('>div');
    results.css('opacity', .3);
    wrapper.load(target+' #'+results.attr('id'));
}
$(document).ready(function(){
    $('.pagination a').live('click', function(){
        loadResults($(this).attr('href'), $(this).parents('.results-wrapper'));
        window.history.pushState(null,null,$(this).attr('href'));
        return false;
    });
    window.onpopstate = function() {
        loadResults(location.pathname+location.search, $('#search-results-wrapper'));
    };
});
</script>
{% endblock %}


{% block content %}
<h1>{{ SITE_NAME }} | Search: {{ query }}</h1>

<form method="get" action=".">
  {{ form.query.errors }}{{ form.start.errors }}
 <p>{{ form.query }} <input type="submit" value="Search"></p>
</form> 

<div id="search-results-wrapper">
<div id="search-results">
<h3>Search Results: {{ SITE_NAME }}</h3>
<div class="results-wrapper">
<div id="local-results">
{% if meta.local.total_results %}
  <p class="pagination">
    Showing results: <strong>{{ meta.local.start_index }} - {{ meta.local.end_index }}</strong> of {{ meta.local.total_results }}<br />
    {% if meta.local.previous_page_start %}
      <a href="{% start_url request.get_full_path 'page_local,page' meta.local.previous_page_start  %}">Previous</a> 
      {% if meta.local.next_page_start %} | {% endif %}
    {% endif %}
    {% if meta.local.next_page_start %}
      <a href="{% start_url request.get_full_path 'page_local,page' meta.local.next_page_start  %}">Next</a> 
    {% endif %}
  </p>
  {% for result in results.local %}
    {% include result_include %}
  {% endfor %}
{% else %}
  <p>No results found</p>
{% endif %}
</div>
</div>


<h3>Search Results: All OSF Healthcare Sites</h3>
<div class="results-wrapper">
<div id="global-results">
{% if meta.global.total_results %}
  <p class="pagination">
    Showing results: <strong>{{ meta.global.start_index }} - {{ meta.global.end_index }}</strong> of {{ meta.global.total_results }}<br />
    {% if meta.global.previous_page_start %}
      <a href="{% start_url request.get_full_path 'page,page_local' meta.global.previous_page_start  %}">Previous</a>
      {% if meta.global.next_page_start %} | {% endif %} 
    {% endif %}
    {% if meta.global.next_page_start %}
      <a href="{% start_url request.get_full_path 'page,page_local' meta.global.next_page_start  %}">Next</a> 
    {% endif %}
  </p>
  {% for result in results.global %}
    {% include result_include %}
  {% endfor %}
{% else %}
  <p>No results found</p>
{% endif %}
</div>
</div>
</div>
</div>
{% endblock %}
