{% extends "base.html" %}
{% load smartsearch_util %}

{% block content %}

Searched For: {{ query }}

<form method="get" action=".">
<table>
 {{ form.query }}{{ form.query.errors }}{{ form.start.errors }}
</table>
<input type="submit" value="Search">
</form> 

{% block local_pagination %}
{% if meta.local.previous_page_start %}
<a href="{% start_url request.get_full_path 'page_local' meta.local.previous_page_start  %}">Previous</a> 
{% endif %}
{% if meta.local.next_page_start %}
<a href="{% start_url request.get_full_path 'page_local' meta.local.next_page_start  %}">Next</a> 
{% endif %}
{% endblock local_pagination %}

{% block local_search_title %}<h3>Local Search Results</h3>{% endblock local_search_title %}
<div>Total results: {{ meta.local.total_results }}</div> 
{% for result in results.local %}
   {% include  result_include %}
{% endfor %}


{% block global_pagination %}
{% if meta.global.previous_page_start %}
<a href="{% start_url request.get_full_path 'page' meta.global.previous_page_start  %}">Previous</a> 
{% endif %}
{% if meta.global.next_page_start %}
<a href="{% start_url request.get_full_path 'page' meta.global.next_page_start  %}">Next</a> 
{% endif %}
{% endblock global_pagination %}

{% block global_search_title %}<h3>Global Search Results</h3>{% endblock global_search_title %}
<div>Total results: {{ meta.global.total_results }}</div> 
{% for result in results.global %}
   {% include  result_include %}
{% endfor %}




{% endblock %}