{% extends "base.html" %}


{% block content %}

Searched For: {{ query }}

<form method="get" action=".">
<table>
 {{ form.query }}{{ form.query.errors }}{{ form.start.errors }}
</table>
<input type="submit">
</form> 
{% if meta.previous_page_start %}
<a href="?{{ request.GET.urlencode }}&start={{ meta.previous_page_start }}">Previous</a> - 
{% endif %}
{% if meta.next_page_start %}
<a href="?{{ request.GET.urlencode }}&start={{ meta.next_page_start }}">Next</a> 
{% endif %}

<hr>
{% for result in results %}
   {% include  result_include %}
{% endfor %}

<hr>
{% for result in results_global %}
   {% include  result_include %}
{% endfor %}

{% endblock %}